@media (max-width: 1000px) {
    .nav {
        position: fixed;
        top: 8vh;
        background-color: #222222;
        width: 100%;
        transform: translateX(-100%);
        padding: 5px 0 25px;  
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .bar {
        height: 2px;
        width: 27px;
        background: white;
        margin: 5px 0;
        opacity: 0.8;
    }
}