/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: #3d3d3d;
    color: white;
}

html {
    scroll-behavior: smooth;
}
  
/*NAV*/

.header {
    background-color: #222222;
} 

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

a {
    text-decoration: none;
}

.logo {
    color: white;
    font-size: 1.5rem;
}

.nav {
    font-size: 1.2rem;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;  
}

.nav-links {
    color: rgba(255, 255, 255, 0.8); 
    transition: all 0.5s;
}

.nav-links:hover,.nav-links:focus {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.hamburger {
    display: none;
}

.nav.nav-open {
    transform: translate(0);
}

.hamburger-open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.hamburger-open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger-open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* SECTION */

section {
    height: 92vh;
}

/* HOME */

#home {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5rem;
}

.pic-container {
    display: flex;
}

.profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 30px;
    margin: auto;
}

.section-text {
    align-self: center;
    text-align: center;
}

.title {
    font-size: 2.5rem;
}

.section-text-p {
    font-size: 1.7rem;
    color: #D5D5D5;
}

.icon {
    height: 2rem;
}

.btn-container {
    
}

.btn {
    border-radius: 2rem;
    padding: 1rem;
    /* background: #47e5bc; */
    background: #26c485;
    border: #222222;
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
    width: 8rem;
}

